﻿@page
@model Jobportal_UI.Pages.Country.CountrylistModel
@{
}
<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />



<script type="text/javascript">
    $(function () {
        $("#btnPost").click(function () {
            alert("post");
            var country = new Object();
            country.country_name = $('#txtcname').val();

            country.code = $('#txtccode').val();

            var ecurrency = document.getElementById("dropdowncurrency");
            country.currency_id = ecurrency.value;

            var estatus = document.getElementById("dropdowncurrency");
            country.currency_id = estatus.value;

            country.nationality = $('#txtnationality').val();

            country.is_active = $('#dropdowncstatus').val();
            alert(country.country_name);
            alert(country.code);
            alert(country.currency_id);
            alert(country.nationality);
            alert(country.is_active);
            if (country != null) {
                $.ajax({
                    type: "POST",
                    url: "http://localhost:62332/CountryDetails/CreateCountry",
                    data: JSON.stringify(employee),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        if (response != null) {
                            alert("Successfully inserted");
                        } else {
                            alert("Something went wrong");
                        }
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            }
        });
</script>
<style type="text/css">
    select {
        width: 500px;
        height: 500px;
    }
</style>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    //$(document).ready(function () {
    //    alert("drp");
    //    $.ajax({
    //        type: "GET",
    //        url: "http://localhost:62332/CountryDetails/GetCurrency",
    //        success: function (data) {
    //            $.each(data, function () {
    //                $("#id").append($("<option></option>").val(this['Value']).html(this['Text']));
    //            });
    //        }
    //    });
    //});
    //$(document).on('show.bs.modal', '#exampleModalLong', function (e) {
    //    alert("modal");
    //    console.log('works');
    //});
    //$("#exampleModalLong").on('shown.bs.modal', function () {
    //    alert('The modal is fully shown.');
    //});
    //$(document).on("click", '.modal fade', function () {
    //    alert('The modal is fully shown.');
    //})
    //$("#exampleModalLong").on('shown', function () {
    //    alert("I want this to appear after the modal has opened!");
    //});
</script>
<br />
<br />
<div class="container">

    <div class="header-btn d-none f-right d-lg-block">

        <button type="button" class="genric-btn primary circle arrow" data-toggle="modal" data-target="#exampleModalLong">
            Add Country
        </button>

    </div>


    <br />
    <br />
    <br />
    <div style="width:100%; margin:0 auto;">
        <table id="customerDatatable" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>COUNTRY NAME</th>
                    <th>COUNTRY CODE</th>
                    <th>CURRENCY</th>
                    <th>NATIONALITY</th>
                    <th>STATUS</th>
                    <th>ACTIONS</th>
                    @*<th>ID</th>
                        <th>Country Name</th>
                        <th>Code</th>
                        <th>Currency</th>
                        <th>Nationality</th>
                        <th>Country status</th>
                        <th>Actions</th>*@
                </tr>
            </thead>
        </table>
    </div>
</div>
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background: #fb246a;">
                <h5 class="modal-title" id="exampleModalLongTitle">Add Country Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <label for="validationDefault01">Name</label>
                            <input type="text" class="form-control" id="txtcname" placeholder="Country name" required>
                        </div>
                        <div class="col-md-12 mb-3">
                            <label for="validationDefault02">Code</label>
                            <input type="text" class="form-control" id="txtccode" placeholder="Country code" required>
                        </div>

                    </div>

                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <label for="validationDefault01">Currency</label>
                            <br />
                            <select id="dropdowncurrency">
                                <option value="1">UAE Dirham</option>
                                <option value="2">USD</option>

                            </select>
                            @*<select asp-for="id"
                                        class="form-control"
                                        asp-items="@(new SelectList(Enumerable.Empty<SelectListItem>(),"Value", "Text"))">
                                </select>*@
                        </div>
                        <div class="col-md-12 mb-3">
                            <label for="validationDefault02">Nationality</label>
                            <input type="text" class="form-control" id="txtnationality" placeholder="Nationality" required>
                        </div>

                    </div>


                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <label for="validationDefault01">Status</label>
                            <br />
                            <select id="dropdowncstatus">
                                <option value="1">Active</option>
                                <option value="0">InActive</option>

                            </select>

                        </div>


                    </div>



                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                @*<input type="button" id="btnPost" class="btn btn-primary" value="Save changes" />*@
                <input type="button" id="btnPost" class="btn btn-primary" value="Save changes" />
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>

    <script src="~/js/countryDatatable.js"></script>
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#btnPost").click(function () {
            alert("post");
            var ecurrency = document.getElementById("dropdowncurrency");
            var estatus = document.getElementById("dropdowncstatus");
            $.ajax(
                {
                    type: "POST", //HTTP POST Method
                    url: "http://localhost:62332/CountryDetails/CreateCountry", // Controller/View
                    data: { //Passing data
                        country_name: $("#txtcname").val(), //Reading text box values using Jquery
                        code: $("#txtccode").val(),
                        currency_id: ecurrency.value,
                        nationality: $("#txtnationality").val(),
                        is_active: estatus.value
                    }

                });

        });
    });

</script>
@*<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>*@
<script type="text/javascript">
       
            $('#btnPost1').on('click', function () {
       /* $("#btnPost").click(function () {*/
            alert("post");
            //var country = new Object();
            //country.country_name = $('#txtcname').val();

            //country.code = $('#txtccode').val();

           
            //country.currency_id = ecurrency.value;

            ////var estatus = document.getElementById("dropdowncurrency");
            ////country.currency_id = estatus.value;

            //country.nationality = $('#txtnationality').val();

           
            //    country.is_active = estatus.value;
            //alert(country.country_name);
            //alert(country.code);
            //alert(country.currency_id);
            //alert(country.nationality);
            //    alert(country.is_active);
                var ecurrency = document.getElementById("dropdowncurrency");
                var estatus = document.getElementById("dropdowncstatus");
         
                $.ajax({
                    //type: "POST",
                    //url: "http://localhost:62332/CountryDetails/CreateCountry",
                    //data: JSON.stringify(country),
                    //contentType: "application/json; charset=utf-8",
                    //dataType: "json",
                    //success: function (response) {
                    //    if (response != null) {
                    //        alert("Successfully inserted");
                    //    } else {
                    //        alert("Something went wrong");
                    //    }
                    //},
                    //failure: function (response) {
                    //    alert(response.responseText);
                    //},
                    //error: function (response) {
                    //    alert(response.responseText);
                    //}
                    type: "POST", //HTTP POST Method
                    url: "http://localhost:62332/CountryDetails/CreateCountry", // Controller/View
                    data: { //Passing data
                       
                        country_name = $('#txtcname').val(),

                        code = $('#txtccode').val(),

                        
                        currency_id = ecurrency.value,

                        nationality = $('#txtnationality').val(),
                        is_active = estatus.value
                       

                        

                        
                    }
                });
            
        });
</script>
<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>